html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Inter', sans-serif;
  font-family: 'Playfair Display', serif;
}

.history-container {
  display: flex;
  width: 1440px;
  padding-top: 156px;
  padding-left: 135px;
  padding-right: 234px;
  padding-bottom: 120px;
  background-color: #E5E5E5;
}

.history-img-wrapper {
  display: block;
}

.history-description-wrapper {
  margin-top: 220px;
  margin-left: 119px;
  width: 476px;
}

.design-container {
  display: flex;
  width: 1440px;
  padding-top: 156px;
  padding-left: 135px;
  padding-right: 234px;
  padding-bottom: 120px;
  background-color: #505A5B;
}

.clearvision-container {
  display: flex;
  width: 1440px;
  padding-top: 156px;
  padding-left: 135px;
  padding-right: 234px;
  padding-bottom: 120px;
  background-color: #E5E5E5;
}

.clearvision-img-wrapper {
  align-content: center;
}

.clearvision-description {
  margin-left: 443px;
}

.subtitle {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
}

.title {
  font-family: 'Playfair Display', serif;
  font-size: 56px;
  font-weight: 900;
  line-height: 73px;
}

.description {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
}